<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Teacher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        
       
    </head>
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Add Teacher</h2>
                </div>
            </div>
	         <div class="row">
	            <ul class="nav nav-pills nav-fill">
	  				<li class="nav-item">
	                   <a class="nav-link active" th:href="@{/showteacher}" >Add Teacher</a>
	  				</li>
	  				<li class="nav-item">
					    <a class="nav-link" th:href="@{/listteacher}">List Teacher</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#">Search Student</a>
					  </li>
	            </ul>
	         </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="teacherform" action="#" th:action="@{/submitteacher}" th:object="${newteacher}" method="post">
                    
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Enter Name:</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="name">
                                <!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> -->
                            </div>                            
                           
                            <div class="form-group col-md-6">
                                <label for="school" class="col-form-label">Enter School:</label>
                                <input type="text" th:field="*{school}" class="form-control" id="school" placeholder="school">
                                <!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> -->
                            </div>  
                            <div class="form-group col-md-6">
                                <label for="subjects" class="col-form-label">Subjects:</label>
                                <select th:field="*{subjects}" class="form-control custom-select" multiple id="subjects" placeholder="subjects">
								  <option value="English" selected>English</option>
								  <option value="Bengali">Bengali</option>
								  <option value="Science">Science</option>
								  <option value="Mathematics">Mathematics</option>
								</select> 
                                <!-- <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> -->
                            </div>                                                      
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>    
                    </form>
                    <span th:text="${isAdded=='true'}" class="color:red">Teacher added successfully</span >
                    
                </div>
            </div>                       
        </div>
    </body>
</html>